.v-text-field .v-field--no-label input,
.v-text-field .v-field--active input {
  text-align: center !important;
}
.router-link-exact-active {
  color: #43b883;
}
.search-bar {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

/* Change the placeholder text color */
.search-bar input::placeholder {
  color: gray;
}
.nav-icon {
  max-width: 95px;
}

.services,
.contact-us {
  cursor: pointer;
}

.hovering-title {
  background-color: #d3d3d3a6;
  border-radius: 5px;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}
/* Responsiveness of the nav name */
@media only screen and (max-width: 960px) {
  .app-name {
    max-width: 80px;
  }
}
